{% extends 'base.html'  %}
{% load static %}

{% block content %}
{% include 'partials/_messages.html' %}

<div class="container mt-4"> 
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Información Financiera</li>
                </ol>
              </nav>
        </div>
    </div>
    
</div>

{% if expenses.count %}
<div class="container">
    <div>
          <br>
    
    </div>

    <div class="row mb-5">
        <div class="col-md-8">
            <div class="col-md-8">
                <strong>Cuota total:</strong> {{ valortotalcuota }} USD 
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" id="searchField" placeholder="Buscar" style="border: 1px solid #153d6c; padding: 5px;">
            </div>
        </div>
    </div>
    
    <div class="app-table">
        <div class="app-table-scroll">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                    <th></th>
                    <th>Cédula/RUC</th>
                    <th>Cuota Total</th>
                    <th>Cuota Última Fecha</th>
                    <th>Emisión</th>
                    <th>Número de Cuota</th>              
                    <th>Último Pago</th>
                    <th>Meses Aportados</th>   
                    <th>Recaudador</th>
                    <th>Fecha de Actualización</th>
                    <th>Fecha Última Factura 1</th>
                    <th>ID Clase</th>
                    <th>Fecha Última Factura 2</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in page_obj %}
                    <tr>
                        <td>
                            <a style="text-align: center; "><a href="{% url 'add-pago' expense.id %}"
                                class = "btn btn-secondary btn-sm mx-3">Pago</a></a>
                            <a style="text-align: center;"><a href="{% url 'historial-pagos' expense.id %}"
                                class = "btn btn-info btn-sm mx-3">Historial</a></a>
                        </td>
                        
                        <td>{{ expense.cedula_ruc}}</td>
                        <td>{{ expense.cuota_total}}</td>
                        <td>{{ expense.cuota_ult_fecha |date:"d-m-Y"  }}</td>
                        <td>{{ expense.emitidas}}</td>
                        <td>{{ expense.cuota_nro}}</td>
                        <td>{{ expense.ultimo_pago|date:"d-m-Y"}}</td>
                        <td>{{ expense.nmesesaportados}}</td>
                        <td>{{ expense.recaudador}}</td>
                        <td>{{ expense.fechaactualizacion|date:"d-m-Y"}}</td>
                        <td>{{ expense.fechaultimafact|date:"d-m-Y"}}</td>
                        <td>{{ expense.idclase}}</td>
                        <td>{{ expense.fecha_ultima_factura|date:"d-m-Y"}}</td>

                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    
    </div>

    <p class="no-results" style="display: none;">Sin resultados </p>

    <div class="table-output">
        <div class="app-table-scroll">
            <table class="table table-stripped table-hover">
            
                <thead>
                    <tr>
                        <th></th>
                        <th>Cédula/RUC</th>
                        <th>Cuota Total</th>
                        <th>Cuota Última Fecha</th>
                        <th>Emisión</th>
                        <th>Número de Cuota</th>              
                        <th>Último Pago</th>
                        <th>Meses Aportados</th>   
                        <th>Recaudador</th>
                        <th>Fecha de Actualización</th>
                        <th>Fecha Última Factura 1</th>
                        <th>ID Clase</th>
                        <th>Fecha Última Factura 2</th>
                        </tr>
                </thead>
                <tbody class = "table-body">
                    
                </tbody>
                
            </table>
        </div>
       
        
    </div>
    
    <div class="pagination-container">
        <div class="row my-4">
            <div class="col-md-2">
                <div class="pagination-info">
                    Mostrando {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </div>
            </div>
            <div class="col-md-10 ">
                <ul class="pagination align-right float-end mr-auto">
                    {% if page_obj.has_next %}
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                    {% endif %}
            
                    {% if page_obj.has_previous %}
                        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
        
        
    </div>
    
</div>

{% endif %}

<script src="{% static 'js/searchFinanza.js' %}"> </script>
<script>
    const expenseEditUrl = "{% url 'expense-edit' 0 %}".replace("0", "item.id");
</script>
<style>
    .app-table-container {
        overflow-x: auto;
    }

    .app-table-scroll {
        min-height: 500px;
        width: 100%;
        overflow-x: scroll;
    }
    .app-table-scroll th,
    .app-table-scroll td {
        min-width: 190px; 
    }
</style>

{% endblock content %}


